In [1]:
from unittest.mock import inplace

import pandas as pd

In [2]:
pokemon_dataset = pd.read_csv('../src/data/pokedex_420.csv')
pokemon_dataset.head()

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,is_sub_legendary,is_legendary,is_mythical,species,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,0,0,0,Lizard Pokémon,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [3]:
pokemon_dataset.pop('name')

0                            Bulbasaur
1                              Ivysaur
2                             Venusaur
3                        Mega Venusaur
4                           Charmander
                     ...
1023       Zacian Hero of Many Battles
1024          Zamazenta Crowned Shield
1025    Zamazenta Hero of Many Battles
1026                         Eternatus
1027               Eternatus Eternamax
Name: name, Length: 1028, dtype: object

In [4]:
pokemon_dataset.head()

,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,is_sub_legendary,is_legendary,is_mythical,species,type_number,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bisasam,フシギダネ (Fushigidane),1,0,0,0,Seed Pokémon,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Bisaknosp,フシギソウ (Fushigisou),1,0,0,0,Seed Pokémon,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Bisaflor,フシギバナ (Fushigibana),1,0,0,0,Seed Pokémon,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Bisaflor,フシギバナ (Fushigibana),1,0,0,0,Seed Pokémon,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Glumanda,ヒトカゲ (Hitokage),1,0,0,0,Lizard Pokémon,1,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [5]:
pokemon_dataset.pop('japanese_name')

0       フシギダネ (Fushigidane)
1        フシギソウ (Fushigisou)
2       フシギバナ (Fushigibana)
3       フシギバナ (Fushigibana)
4           ヒトカゲ (Hitokage)
               ...
1023                    NaN
1024                    NaN
1025                    NaN
1026                    NaN
1027                    NaN
Name: japanese_name, Length: 1028, dtype: object

In [6]:
pokemon_dataset.head()

,Unnamed: 0,pokedex_number,german_name,generation,is_sub_legendary,is_legendary,is_mythical,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bisasam,1,0,0,0,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Bisaknosp,1,0,0,0,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Bisaflor,1,0,0,0,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Bisaflor,1,0,0,0,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Glumanda,1,0,0,0,Lizard Pokémon,1,Fire,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [7]:
pokemon_dataset.tail()

,Unnamed: 0,pokedex_number,german_name,generation,is_sub_legendary,is_legendary,is_mythical,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
1023,1023,888,NaN,8,0,1,0,Warrior Pokémon,1,Fairy,...,1.0,1.0,1.0,0.50,1.00,1.0,0.0,0.5,2.0,1.0
1024,1024,889,NaN,8,0,1,0,Warrior Pokémon,2,Fighting,...,2.0,1.0,1.0,0.25,0.25,1.0,0.5,0.5,0.5,1.0
1025,1025,889,NaN,8,0,1,0,Warrior Pokémon,1,Fighting,...,1.0,2.0,2.0,0.50,0.50,1.0,1.0,0.5,1.0,2.0
1026,1026,890,NaN,8,0,1,0,Gigantic Pokémon,2,Poison,...,2.0,1.0,2.0,0.50,1.00,1.0,2.0,1.0,1.0,1.0
1027,1027,890,NaN,8,0,1,0,Gigantic Pokémon,2,Poison,...,2.0,1.0,2.0,0.50,1.00,1.0,2.0,1.0,1.0,1.0

In [8]:
pokemon_dataset.drop('Unnamed: 0', axis= 1, inplace= True)

In [9]:
pokemon_dataset

,pokedex_number,german_name,generation,is_sub_legendary,is_legendary,is_mythical,species,type_number,type_1,type_2,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bisasam,1,0,0,0,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
1,2,Bisaknosp,1,0,0,0,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
2,3,Bisaflor,1,0,0,0,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
3,3,Bisaflor,1,0,0,0,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
4,4,Glumanda,1,0,0,0,Lizard Pokémon,1,Fire,NaN,...,2.0,1.0,1.0,0.50,2.00,1.0,1.0,1.0,0.5,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,888,NaN,8,0,1,0,Warrior Pokémon,1,Fairy,NaN,...,1.0,1.0,1.0,0.50,1.00,1.0,0.0,0.5,2.0,1.0
1024,889,NaN,8,0,1,0,Warrior Pokémon,2,Fighting,Steel,...,2.0,1.0,1.0,0.25,0.25,1.0,0.5,0.5,0.5,1.0
1025,889,NaN,8,0,1,0,Warrior Pokémon,1,Fighting,NaN,...,1.0,2.0,2.0,0.50,0.50,1.0,1.0,0.5,1.0,2.0
1026,890,NaN,8,0,1,0,Gigantic Pokémon,2,Poison,Dragon,...,2.0,1.0,2.0,0.50,1.00,1.0,2.0,1.0,1.0,1.0
1027,890,NaN,8,0,1,0,Gigantic Pokémon,2,Poison,Dragon,...,2.0,1.0,2.0,0.50,1.00,1.0,2.0,1.0,1.0,1.0

In [10]:
pokemon_dataset.drop(['catch_rate', 'base_experience', 'base_friendship', 'growth_rate', 'egg_cycles', 'egg_type_1', 'egg_type_2', 'egg_type_number', 'percentage_male'],axis=1, inplace= True)

In [11]:
pokemon_dataset.iloc[464]

pokedex_number                    387
german_name                   Chelast
generation                          4
is_sub_legendary                    0
is_legendary                        0
is_mythical                         0
species             Tiny Leaf Pokémon
type_number                         1
type_1                          Grass
type_2                            NaN
height_m                          0.4
weight_kg                        10.2
abilities_number                    2
ability_1                    Overgrow
ability_2                         NaN
ability_hidden            Shell Armor
total_points                    318.0
hp                               55.0
attack                           68.0
defense                          64.0
sp_attack                        45.0
sp_defense                       55.0
speed                            31.0
against_normal                    1.0
against_fire                      2.0
against_water                     0.5
against_electric                  0.5
against_grass                     0.5
against_ice                       2.0
against_fight                     1.0
against_poison                    2.0
against_ground                    0.5
against_flying                    2.0
against_psychic                   1.0
against_bug                       2.0
against_rock                      1.0
against_ghost                     1.0
against_dragon                    1.0
against_dark                      1.0
against_steel                     1.0
against_fairy                     1.0
Name: 464, dtype: object

In [12]:
pkmn = pokemon_dataset[pokemon_dataset['generation'] <= 3]

In [13]:
pkmn.tail()

,pokedex_number,german_name,generation,is_sub_legendary,is_legendary,is_mythical,species,type_number,type_1,type_2,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
459,385,Jirachi,3,0,0,1,Wish Pokémon,2,Steel,Psychic,...,2.0,0.5,0.25,1.0,0.5,2.0,0.5,2.0,0.5,0.5
460,386,Deoxys,3,0,0,1,DNA Pokémon,1,Psychic,NaN,...,1.0,1.0,0.50,2.0,1.0,2.0,1.0,2.0,1.0,1.0
461,386,Deoxys,3,0,0,1,DNA Pokémon,1,Psychic,NaN,...,1.0,1.0,0.50,2.0,1.0,2.0,1.0,2.0,1.0,1.0
462,386,Deoxys,3,0,0,1,DNA Pokémon,1,Psychic,NaN,...,1.0,1.0,0.50,2.0,1.0,2.0,1.0,2.0,1.0,1.0
463,386,Deoxys,3,0,0,1,DNA Pokémon,1,Psychic,NaN,...,1.0,1.0,0.50,2.0,1.0,2.0,1.0,2.0,1.0,1.0