In [9]:
import pandas as pd

In [10]:
pokemon_dataset = pd.read_csv('../src/data/pokedex_420.csv')
pokemon_dataset.head()

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,is_sub_legendary,is_legendary,is_mythical,species,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,0,0,0,Lizard Pokémon,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [11]:
pokemon_dataset.pop('name')

0                            Bulbasaur
1                              Ivysaur
2                             Venusaur
3                        Mega Venusaur
4                           Charmander
                     ...
1023       Zacian Hero of Many Battles
1024          Zamazenta Crowned Shield
1025    Zamazenta Hero of Many Battles
1026                         Eternatus
1027               Eternatus Eternamax
Name: name, Length: 1028, dtype: object

In [7]:
pokemon_dataset.head()

,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,is_sub_legendary,is_legendary,is_mythical,species,type_number,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bisasam,フシギダネ (Fushigidane),1,0,0,0,Seed Pokémon,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Bisaknosp,フシギソウ (Fushigisou),1,0,0,0,Seed Pokémon,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Bisaflor,フシギバナ (Fushigibana),1,0,0,0,Seed Pokémon,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Bisaflor,フシギバナ (Fushigibana),1,0,0,0,Seed Pokémon,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Glumanda,ヒトカゲ (Hitokage),1,0,0,0,Lizard Pokémon,1,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [12]:
pokemon_dataset.pop('japanese_name')

0       フシギダネ (Fushigidane)
1        フシギソウ (Fushigisou)
2       フシギバナ (Fushigibana)
3       フシギバナ (Fushigibana)
4           ヒトカゲ (Hitokage)
               ...
1023                    NaN
1024                    NaN
1025                    NaN
1026                    NaN
1027                    NaN
Name: japanese_name, Length: 1028, dtype: object

In [13]:
pokemon_dataset.head()

,Unnamed: 0,pokedex_number,german_name,generation,is_sub_legendary,is_legendary,is_mythical,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bisasam,1,0,0,0,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Bisaknosp,1,0,0,0,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Bisaflor,1,0,0,0,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Bisaflor,1,0,0,0,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Glumanda,1,0,0,0,Lizard Pokémon,1,Fire,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5